*{
  margin:0;
 padding:0;
 box-sizing: border-box;
 font-family: 'Poppins', sans-serif;
}
body,
html {
  width: 100%;
  height: 100%;
  margin: 0;
  padding-top:1px;
  scroll-behavior: smooth;
  font-family: Arial;
}
 body{

  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  min-height: 100vh;
  flex-direction: column;
  background-color: #ede7f6;
  flex-wrap: nowrap;
}
section{
  flex-direction: row;
  height: auto;
}
section h2 hr{
margin-left:50%;
margin-top:1%;
margin-bottom:1%;
transform: translateX(-50%);
width: 25%;
border: 1px solid rgb(50, 150, 255);
}
p a {
  color: rgb(50, 150, 255);
}
p a:hover {
  color: #fff;
  text-shadow: 4px 4px 8px #111111, 0 0 25px #222222, 0 0 5px #444444;
}
a.b{
  text-decoration: none;
  border-radius: 4px;
  padding: 12px 18px;
  font-size: 18px;
  font-family: Arial;
  font-size: 16px;
  font-weight: bold;
}
.fullscreen .container .container-fullscreen a.b.join{
position: absolute;
left: 50%;
top: 100%;
z-index: 2;
transform: translateX(-50%);
}
.fullscreen .container .container-fullscreen a.b.read{
position: absolute;
left: 50%;
top: 70%;
z-index: 2;
transform: translateX(-50%);
}
li p {
  width: 25% 1fr;
  border-radius: 28px;
  background-color: #28282828;
}

ul {
  padding: 16px;
}

.dot {
  padding: 8px;
  font-size: 20px;
  border-radius: 28px;
}

.is_Offline {
  padding: 2px;
  border-radius: 28px;
  border: 2px solid red;
  box-shadow: none;
  text-shadow: 0 0 25px red;
  color: red;
}

.is_UnderConstruction {
  padding: 2px;
  font-size: 1rem;
  border-radius: 28px;
  overflow: hidden;
  box-shadow: none;
  border: 2px solid orange;
  text-shadow: 4px 4px 8px orange, 0 0 25px orange, 0 0 5px orange;
  color: orange;
}

.is_Online {
  padding: 2px;
  font-size: 2vw;
  border-radius: 28px;
  box-shadow: 4px 4px 8px lime, 0 0 25px lime, 0 0 5px lime;
  text-shadow: 4px 4px 8px lime, 0 0 25px lime, 0 0 5px lime;
  color: lime;
}

.is_ComingSoon {
  padding: 2px;
  font-size: auto;
  border-radius: 28px;
  box-shadow: 4px 4px 8px aqua, 0 0 25px aqua, 0 0 5px aqua;
  text-shadow: 4px 4px 8px aqua, 0 0 25px aqua, 0 0 5px aqua;
  color: aqua;
}

.is_Open {
  padding: 2px;
  text-shadow: 4px 4px 8px lime, 0 0 25px lime, 0 0 5px lime;
  color: lime;
}

.is_Closed {
  padding: 2px;
  text-shadow: 4px 4px 8px red, 0 0 25px red, 0 0 5px red;
  color: red;
}

.job_category {
  border: 2px solid #777;
  padding: 2px;
  border-radius: 28px;
  color: linear-gradient(120deg, rgb(0, 132, 255), violet);
}
#particles-dots {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: transparent;
  z-index: 1;
}
.particles canvas {
  position: absolute;
  top: 0;
  left: 0;
}

.fullscreen{
  width:100%;
  height:100%;
  overflow:hidden;
  -webkit-box-align:center!important;
  -ms-flex-align:center!important;
  align-items:center!important;
  display:flex;
  -ms-flex-wrap:wrap;
  flex-wrap:wrap;
  min-height:100vh
}
.fullscreen .container,.fullscreen .container-wide{
    -ms-flex-preferred-size:0;
    flex-basis:0;
    -webkit-box-flex:1;
    -ms-flex-positive:1;
    flex-grow:1;
    margin-top:0px;
    margin-bottom:0px;
}
.fullscreen .container-fullscreen{
    width:100%;
    overflow: hidden;
}
.fullscreen svg{
  position: absolute;
  bottom: 0;
  transform: translate(0px, 2px);
  text-shadow: 4px 4px 8px #111111, 0 0 25px #222222, 0 0 5px #444444;
  fill: #1f2123;
  stroke: #1f2123;
  width: 100%;
  margin: 0%;
  padding: 0%;
  z-index: 3;
}

.theme-white{
transition: ease-in-out .5s;
background-color:  #fff; 
color: rgb(0, 132, 255);
}
.theme-white:hover{
transition: ease-in-out .5s;
background-color:  #999;  
color: rgb(0, 0, 0);
}

.theme-join{
transition: ease-in-out .5s;
background-color:  transparent; 
color:  #43b581; 
border: 1px solid #43b581;
}
.theme-join:hover{
background-color:  #43b581; 
color: #fff; 
transition: ease-in-out .5s;
}

.theme-blk_glass{
  background-color: rgba(0, 0, 0, .5);
  backdrop-filter: blur(5px);
}
.theme-gray_glass{
  background-color: rgba(150, 150, 150, 0.5);
  backdrop-filter: blur(5px);
}
.theme-white_glass{
  background-color: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(5px);
}

.bg-opaque{
  padding-top: 10px;
  background-color: #1f2123;
  box-sizing: border-box;
  padding-bottom: 10px; 
}
.bg-colored{
 background-color: rgb(0, 132, 255);
}
.bg-parallax{
  padding-top: 10%;
  padding-bottom: 10px;
  box-sizing: border-box;
  background-image: url("https://cdn.discordapp.com/attachments/929406105459761222/968539104994279425/QFT_MainBanner.gif");
 	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
} 

.container .card{
  text-decoration: none;
  padding: 16px;
  margin:16px;
  box-shadow: 0 0 4px rgba(0, 0, 0, 1);
  border-left: 4px solid  rgb(50, 150, 255);
}

/* Style the navbar */

#navbar {
  padding-top:1px;
  position: absolute;
  margin: 0%;
  z-index: 4;
  background-color: none;
  overflow: hidden;
  justify-items: top;
  align-items: top;
  width: 100%;
  transition: ease-in-out 0.5s;
}

#navbar img {
  z-index: 2;
  background-color: none;
  overflow: initial;
  padding: 14px 16px;
  justify-items: center;
  align-items: center;
  width: screen;
  transform: translate(0px, -1px);
  transition: ease-in-out 0.5s;
}

#navbar button.active {
  display: none;
  background-color: skyblue;
  color: rgb(0, 132, 255);
  padding: 0px;
  float: left;
}

#navbar p {
  display: none;
  color: whitesmoke;
  text-align: center;
  cursor: pointer;
  overflow: initial;
  text-decoration: none;
  text-shadow: 0px 0px 4px aqua, 0 0 8px blue, 0 0 16px violet;
  font-size: 16px;
  font-weight: bold;
  padding: 0px;
}

/* Navbar links */
#navbar a.link {
  outline: none;
  cursor: pointer;
  display: block;
  color: #f2f2f2;
  text-align: center;
  overflow: initial;
  padding: 14px 16px;
  margin-right: 2px;
  text-decoration: none;
  float: right;
  border-bottom:  2px solid rgba(0,0,0,0);
  font-size: 1vw;
  font-weight: bold;
  transition: 0.5s;
}

#navbar a.link:hover {
  /*border-left: 4px solid aqua;*/
  color: skyblue;
  border-bottom:  2px solid skyblue;
}

#logo {
  animation-name: fade;
  animation-duration: 2s;
  -webkit-animation-name: fade;
  /* Safari 4.0 - 8.0 */
  -webkit-animation-duration: 2s;
  /* Safari 4.0 - 8.0 */
  font-size: 6vw;
}

/* Change background color of buttons on hover */

#navbar g {
  display: block;
  border-bottom: 2px solid aqua;
  color: rgb(0, 132, 255);
  text-align: center;
  padding: 16px;
  font-weight: bold;
  text-decoration: none;
  float: right;
}

#navbar button.title {
  display: block;
  border: none;
  outline: none;
  cursor: pointer;
  color: #f2f2f2;
  text-align: center;
  padding: 0px;
  text-decoration: none;
  font-size: 17px;
}

.sticky p {
  display: none;
  font-size: 16px;
}

#navbar b {
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 6px;
  text-decoration: none;
  font-size: 24px;
  float: left;
}
#ScrollTop{
    display: none;
    background-color: rgb(0, 132, 255);
    box-shadow: 0px 0px 16px rgb(0, 132, 255);
    color: #fff;
    border: 1px solid white;
    border-radius: 50%;
    padding: 16px 16px;
    transition: ease-in-out .5s;
}

.scrActive{
   display: inline-block;
    width: 48px;
    height:48px;
   position: fixed;
   z-index:5;
   right:84px;
   bottom: 3.5%;
   line-height: none;
   align-content: center;
   justify-content: center;
   text-align: center;
    animation-name: fade;
  animation-duration: 2s;
  -webkit-animation-name: fade;
  /* Safari 4.0 - 8.0 */
  -webkit-animation-duration: 2s;
  /* Safari 4.0 - 8.0 */
}

#ScrollTop:hover{
 background-color: #fff;
 color: rgb(0, 132, 255);
}
/* Page content */

.content {
  padding: 16px;
  transition: 0.5s;
}

/* The sticky class is added to the navbar with JS when it reaches its scroll position */

.sticky {
  background-color: rgba(0, 0, 0, .5);
  backdrop-filter: blur(5px);
  overflow: initial;
  font-size: 1.5vw;
  box-shadow: none;
  position: fixed;
  top: 0;
  width: 100%;
  transform: translateY(-1px);
  transition: ease-in-out 0.5s;
  animation-name: slidedown;
  animation-duration: 1s;
  -webkit-animation-name: slidedown;
  /* Safari 4.0 - 8.0 */
  -webkit-animation-duration: 1s;
  /* Safari 4.0 - 8.0 */
}

/* Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the page (position:fixed and top:0) */

.sticky + .content {
  padding-top: 60px;
}
.sticky + .p {
  display: inline;
  font-size: 128px;
}

/* The side navigation menu */

.sidenav {
  height: 0;
  /* 100% Full-height */
  width: 0;
  /* 0 width - change this with JavaScript */
  position: fixed;
  /* Stay in place */
  z-index: 5;
  /* Stay on top */
  top: 0;
  left: 0;
  overflow-x: hidden;
  /* Disable horizontal scroll */
  padding-top: 60px;
  /* Place content 60px from the top */
  transition: 0.5s;
  /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */

.sidenav a {
  text-align:center;
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #fff;
  display: block;
  transition: 0.3s;
  
}
.sidenav .link {
  padding: 2px 2px 2px 2px;
  border-top:  1px solid #999;
  border-bottom:  1px solid #999;
  text-shadow: 0 0 16px rgba(0, 0, 0, 1);
}
/* When you mouse over the navigation links, change their color */

.sidenav .link:hover {
  color: skyblue;
  /*border-left: 4px solid aqua;*/
  box-shadow: 0 0 16px skyblue;
  transition: 0.3s;
}

/* Position and style the close button (top right corner) */

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 16px;
  font-size: 32px;
  margin-left: 50px;
}

.sidenav .closebtn:hover {
  border-left: none;
  text-shadow: 0px 0px 4px aqua, 0 0 8px blue, 0 0 16px violet;
}

.sidenav .title {
  position: absolute;
  top: 0;
  left: -32px;
  font-size: 125%;
  margin-right: -50px;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */

#main {
  transition: margin-left 0.5s;
  width: 100%;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */

@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 0;
  }

  .sidenav a {
    font-size: 18px;
  }
}

@media screen and (max-width: 991px) {
  .scrActive{
   display: inline-block;
    width: 48px;
    height:48px;
   position: fixed;
   z-index:5;
   right:3.5%;
   bottom: 84px;
   line-height: none;
   align-content: center;
   justify-content: center;
   text-align: center;
    animation-name: fade;
  animation-duration: 2s;
  -webkit-animation-name: fade;
  /* Safari 4.0 - 8.0 */
  -webkit-animation-duration: 2s;
  /* Safari 4.0 - 8.0 */
}
  #navbar ::after.link {
    display: none;
    color: #f2f2f2;
    text-align: center;
    overflow: initial;
    padding: 16px;
    text-decoration: none;
    float: right;
    font-weight: bold;
    margin-left: 50;
  }
 #navbar a.link{
  display:none;
 }
 .fullscreen svg{
  display:none;
  transition: ease-in-out .5s;
}
  #navbar button.title {
    border: none;
    outline: none;
    cursor: pointer;
    overflow: initial;
    display: none;
    color: #f2f2f2;
    text-align: center;
    padding: 0px;
    text-decoration: none;
  }

  #navbar g {
    display: none;
    border-bottom: 2px solid aqua;
    color: rgb(0, 132, 255);
    text-align: center;
    padding: 16px;
    font-weight: bold;
    text-decoration: none;
    float: right;
  }

  #navbar a:hover {
    border-left: 4px solid aqua;
    color: rgb(0, 132, 255);
    transition: 0.5s;
  }

  #navbar button.active {
    border: none;
    outline: none;
    cursor: pointer;
    display: block;
    background-color: transparent;
    color: #ffffff;
    padding: 16px;
    float: left;
    font-size: 32px;
  }

  #navbar button.active:hover {
    background-color: transparent;
    color: skyblue;
    transition: 0.5s;
    font-size: 32px;
  }
}
.reveal{
  position: relative;
  transform: translateY(150px);
  opacity: 0;
  transition: all 2s ease;
}

.reveal.loadUP{
  transform: translateY(0px);
  opacity: 1;
}
@keyframes slidedown {
  0% {
    opacity: 0;
    top: -100;
  }

  100% {
    opacity: 1;
    top: 0;
  }
}
@keyframes fade_in_up {
  0% {
    opacity: 0;
    transform: translateY(100%);
  }

  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}

@keyframes fade {
  0% {
    transform:scale(1.5);
    opacity: 0;
  }

  100% {
    transform:scale(1);
    opacity: 1;
  }
}
@keyframes fade_out {
  0% {
    transform:scale(1);
    opacity: 1;
  }

  100% {
    opacity: 0;
    transform:scale(1.5);
    display:none;
  }
}

#arrowDown {
  padding-top:16px;
  padding-bottom: 16px;
  -webkit-animation-name: down;
  animation-name: down;
  -webkit-transform-origin: center bottom;
  -ms-transform-origin: center bottom;
  transform-origin: center bottom;
  -webkit-animation-duration:1s;
  animation-duration: 1s;
  -webkit-animation-iteration-count: infinite;
 animation-iteration-count: infinite;

}

@-webkit-keyframes down {
  0%,
  100% {
  transform: translateY(0);
  }
  50%{
  transform: translateY(16px);
  }
}

@keyframes down {
  0%,
  100% {
  transform: translateY(0);
  }
  50%{
  transform: translateY(16px);
  }
}
